<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.ys.dao.IUserDao">

    <!-- 登陆验证 -->
    <select id="queryUserByName" parameterType="string" resultType="com.ys.model.User">
    		select * from CPPSP_USER_RIGHT where username=#{username}
    </select> 
  
	<!-- <select id="queryDate" parameterType="string" resultType="string">
		selec * from CPPSP_DATE_MAX where MAXTIME>#{startTime} and MAXTIME<#{endTime}
	</select> -->

</mapper>